@import url('https://fronts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    /* font: normal 16px 'Roboto', sans-serif;*/
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
}


h2 {
    font-size: 32px;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /* text-transform: uppercase; */
    /*letter-spacing: 3px; */
    /* word-spacing: 42px; */
}

/*Box model*/
.container {
    max-width: 100%;
    margin: auto;
}

.social {
    background: green;
    /*padding: 15px; */
    /* padding: 15px 40px; */
    /* padding: 15px 40px 25px 30px; */
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 30px;
    margin: 20px;
    border: 5px solid red;
    border-bottom-style: dotted;
    border-top-width: 15px;
    border-right-color: blue;
}